* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#text {
    display: block;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    padding: 12px;
    margin: 0;
    background-image:url(../img/dark.gif);
    color: white;
    width: 100%;
}

.section {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    margin-top: 10px;
    gap:20px;
    background-image: conic-gradient(#000C4F,#770054);
    width: 100%;
    height: 400px;
}
.gameInst {
    font-size: 15px;
    color:white;
    text-align: center;
    margin-top: 0;
    font-style: italic;
    padding:10px;
    background-image:linear-gradient(to right,#AA3700,#E7FF85);
    border: 1px solid black;
    border-radius: 10px;
    font-weight: bold;
    text-shadow: 2px 2px 12px black;
}

#mainBtn {
    display:flex;
    gap: 15px;
    padding: 20px;
}

button[type=button] {
    background-image: linear-gradient(to right,#00023F,#0051B4);
    width: 100px;
    height:100px;
    border-radius: 20px;
    font-size: 60px;
}

.result {
    display: flex;
    font-size: 80px;
    font-weight: bold;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap:60px;
    color: white;
}

.point {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: white;
    gap:50px;
    font-size: 20px;
    font-weight: bold;
    
}
#para {
    width:100%;
    height:235px;
    background: url(../img/rpss.gif);
    background-size: cover;
    margin:0;
    font-size: 40px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-shadow: 5px 5px 10px black,
    4px 5px 20px #B48E00,
    1px 1px 2px black;
    text-align: center;
}
.footer {
    width: 100%;
    height:40px;
    background:#2C0024;
    color: white;
    text-align: center;
    font-size: 15px;
    padding-top:10px;
}
.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    width: 270px;
    max-width:80%;
    height: 400px;
    max-height: 80%;
    background-image: url(../img/rpsss.gif);
    background-size: cover;
    background-position-x: -85px;
    z-index:9;
    border: 2px solid black;
    border-radius: 20px 50px 20px 50px;
    box-shadow: 2px 2px 20px aqua;
    color:white;
    text-shadow: 3px 3px 3px black, 4px 4px 12px black;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    padding-top: 120px;
}

.modal.active {
    transform: translate(-50%, -50%) scale(1);
}

.mbutton {
    position:fixed;
    top:300px;
    left: 30px;
    width: 210px;
    height: 60px;
    border: 1px solid black;
    border-radius: 20px;
    background-image: linear-gradient(to right,#6271FF,#3DD7FF);
    box-shadow: 2px 2px 20px rgba(0,0,0,0.2);
    font-size: 25px;
    font-weight: bold;
    z-index:10;
    cursor: pointer;
}

.overlay {
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
    opacity:0;
    z-index:3;
    pointer-events: none;
}

.overlay.active {
    opacity:1;
    pointer-events: all;
}